body{
  background-color: #F0F0F0;
  font-family: "Poppins", sans-serif;
}
.full-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  /* border: yellow 2px solid; */
  background-color: #FFFFFF;
  border-radius: 1rem 1rem 10rem .1rem;
  margin: 40px;
  width: 60%;
  /* height: 80vh; */
}
form{
  /* border: solid 2px green; */
  display: flex;
  flex-direction: column;
  height: 30vh;

}
.container{
  display: flex;
  gap: 20px;
  /* border: solid red 2px; */
}
.box{
  padding: 5px;
  padding-top: 30px;    
  padding-left: 20px;

}
.box label{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #757575;
}
input{
  width: 100px;
  padding: 15px;
  border-radius: .5rem;
  border: 1px solid #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

input::placeholder{
  font-size: 20px;
  font-weight: 800;
}

input:focus {
  border: 2px solid #3498db;
}

.submit-box{
  display: flex;
  align-items: center;
  /* border: 2px solid yellow; */
}
.submit-box hr{
  width: 100%;
}
.submit-btn{
  border-radius: 50%;
  padding: 30px;
  margin-right: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #864EFF;
}

.submit-btn:hover {
  transform: scale(1.1);
}
.output h1{
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  height: fit-content;
  margin-left: 80px;
  line-height: 40px;
  /* border: solid 2px black; */

}
.output span{
  color: #864EFF;
  font-size: 84px;
}
small{
  color: red;
}


@media screen and (min-width:600px) {
  .card{
      width: 600px;
  }
  .container{
      padding: 20px;
  }
  .form_container{
      margin-bottom: 10px;
      gap: 0;
      justify-content: space-between;
  }
  
  .output{
      /* margin-top: 80px; */
  }
  .output h1{
      font-size: 50px;
  }
}
